{% extends 'base.html' %}
{% block head %}
<title> About Us </title>
{% endblock %}
{% block content %}
<h2 class="post_titile">About us </h2>
            <div class="single_page_content">
              <p>World has seen the most technological boom in the last fifty years, with the innovations in every field made possible now for making the human life easier and more comfortable. Our goal is to provide users with a place where they can get their daily dose of news. Apexnews covers all types of news from national to international and from sports to entertainment. Not only does it make news accessible to users but it also provides a platform for creative writers to write and post news articles. The main agenda of this website is to provide news to users which are relevant to their interests. 
ApexNews strives to give news about the latest happenings all over the globe. We have an array of creative writers who present the information that everyone would enjoy to read. </p>
<h2>Team Members</h2>
              <ul>
                <li>Bhavini Sharma</li>
                <li>Roshni Bisht</li>
                <li>Rony Roy</li>
              </ul>
            </div>
            {% endblock %}