{% extends 'base.html' %}
{% block head %}
<title>Search Results</title>
{% endblock %}

{% block content %}
{% load nbsp2space %}
    <div class="content_bottom">
      <div class="col-lg-8 col-md-8">
        <div class="content_bottom_left">
          <div class="single_category wow fadeInDown">
          	{% if articles %}
            <div class="archive_style_1">
              <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <span class="title_text">Search Results</span> </h2>
              {% for i in articles %}
              <div class="business_category_left wow fadeInDown">
                <ul class="fashion_catgnav">
                  <li>
                    <div class="catgimg2_container"> <a href="{{ i.get_absolute_url }}"><img alt="" src="{{i.pic.url}}"></a> </div>
                    <h2 class="catg_titile"><a href="{{ i.get_absolute_url }}">{{i.title}}</a></h2>
                    <div class="comments_box"> <span class="meta_date">{{i.date_created}}</span> <span class="meta_comment"><a href="#">No Comments</a></span> <span class="meta_more"><a  href="{{ i.get_absolute_url }}">Read More...</a></span> </div>
                    <p>{{i.content|truncatewords:30|striptags|safe|cut:"<(?:a\b[^>]*>|/a>)"|nbsp2space}}</p>
                  </li>
                </ul>
              </div>
              {% endfor %}
              {% endif %}
              {% if msg %}
<div class="archive_style_1">
              <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <span class="title_text">{{msg}}</span> </h2>
{% endif %}
          </div>
      </div>
  </div>
</div>
</div>
{% if articles %}
{% include "pagination.html" with page=articles  %}
{% endif %}
{% endblock %}